.grid{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    width: 100%;
    color: rgb(63, 63, 63);
    margin: 0 1rem 0 1rem;
}

.item{
    font-size: large;
    font-weight: lighter;
}

.delta{
    font-size: large;
    font-weight: normal;
    color:rgb(0, 207, 35)
}

.left{
    text-align: left;
}
.right{
    text-align: left;
}