.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 0 1rem 0;
    color:rgb(255, 255, 255);
    
}

.body{
    font-size: 4rem;
    font-weight: bold;
}
