.grid{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
    

.date{
    font-size: large;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0.25rem;
}

.container{
    padding: 1rem;
}